<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <title>hadieh - shafaee.com</title>
</head>
<body>

<header class="header-wrap">
    <div class="logo-wrap" id="logo-wrap">
        <!--                <a ><img src="/images/hediLogo-white.png" style="width:100px;"/></a>-->
        <div class="row">
            <div class="letter one">H</div>
            <div class="letter two">E</div>
        </div>
        <div class="row">
            <div class="letter three">D</div>
            <div class="letter four">I</div>
        </div>
    </div>
    <div class="logo-title">HADIEH SHAFAEE</div>
</header>

<div class="container" id="container">

    <div class="heading-text" id="heading-text">SHE ACCEPTS <br> THE <span
            class="word-challenge"> &nbsp;CHALLENGE</span></div>

    <div class="three-sections">

        <a th:href="@{/about-me}"  >
            <div class="box-wrap" onmouseover="textAnimation('.ml9 .letters', '.ml9 .letter', '.ml9');">
                <div class="three-sections-parts">
<!--                    <div class="box-text">ABOUT ME</div>-->
                    <h1 class="ml9" id="about-text">
                        <span class="text-wrapper"><span class="letters">ABOUT ME</span></span>
                    </h1>
                </div>
                <img class="box-image" th:src="@{images/hedi-hip.jpeg}">

            </div>
        </a>

        <a th:href="@{/projects}">
            <div class="box-wrap" onmouseover="textAnimation('.ml10 .letters', '.ml10 .letter', '.ml10');">
                <div class="three-sections-parts">
<!--                    <div class="box-text">MY PROJECTS</div>-->
                    <h1 class="ml10">
                        <span class="text-wrapper"><span class="letters">MY PROJECTS</span></span>
                    </h1>
                </div>
                <img class="box-image" th:src="@{images/coding-projects.jpg}">
            </div>
        </a>

        <a th:href="@{/my-resume}">
            <div class="box-wrap" onmouseover="textAnimation('.ml11 .letters', '.ml11 .letter', '.ml11');">
                <div class="three-sections-parts">
<!--                    <div class="box-text">MY RESUME</div>-->
                    <h1 class="ml11">
                        <span class="text-wrapper"><span class="letters">MY RESUME</span></span>
                    </h1>
                </div>
                <img class="box-image" th:src="@{images/hedi-resume-pic.png}">

            </div>
        </a>

    </div>

</div>

<script>
    window.onscroll = function () {
        changeBackgroundOnScroll()
    };

    function changeBackgroundOnScroll() {
        if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
            document.body.classList.add("scrolledStyle");
            document.getElementById("container").classList.add("scrolledStyle");
            document.getElementById("heading-text").classList.add("scrolledStyle");
            document.getElementById("logo-wrap").classList.add("scrolledStyle");
        } else if (document.body.scrollTop < 10 || document.documentElement.scrollTop < 10) {
            document.getElementById("container").classList.remove("scrolledStyle");
            document.getElementById("heading-text").classList.remove("scrolledStyle");
            document.getElementById("logo-wrap").classList.remove("scrolledStyle");
            document.body.classList.remove("scrolledStyle");
        }
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script>
   function textAnimation(selector, singleSelector, singleSpan){
       // Wrap every letter in a span
       var textWrapper = document.querySelector(selector);
       textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
       // document.getElementById("about-text").style.display="block";

       anime.timeline({loop: true})
           .add({
               targets: singleSelector,
               scale: [0, 1],
               duration: 1500,
               elasticity: 600,
               delay: (el, i) => 45 * (i+1)
           }).add({
           targets: singleSpan,
           opacity: 0,
           duration: 2000000,
           easing: "easeOutExpo",
           delay: 1000
       });
   }

</script>

</body>
</html>