<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <title>hadieh - shafaee.com</title>
</head>
<body class="projects-body">

<a th:href="@{/}">
    <header class="header-wrap">
        <div class="logo-wrap" id="logo-wrap">
            <!--                <a ><img src="/images/hediLogo-white.png" style="width:100px;"/></a>-->
            <div class="row">
                <div class="letter one">H</div>
                <div class="letter two">E</div>
            </div>
            <div class="row">
                <div class="letter three">D</div>
                <div class="letter four">I</div>
            </div>
        </div>
        <div class="logo-title">HADIEH SHAFAEE</div>
    </header>
</a>

<div class="container container-projects" id="container">

    <div class="resume-wrap">
        <h1 class="contacts-heading"> Find me online </h1>
        <div class="row linkedin-row">
            <img th:src="@{images/linkedin.png}" width="35px">
            <a href="https://www.linkedin.com/in/hedieh-shafaee/" class="linkedin-link" target="_blank">Linkedin.com</a>
        </div>
    </div>

    <div class="skills-wrap">
        <div class="row skills-row">
            <img th:src="@{images/skill.png}" class="section-icon" width="50px" height="50px">
            <h2 class="skills-heading">skills</h2>
        </div>
        <div class="skillbar">
            <div class="skillbar-colored advanced"></div>
        </div>

        <div class="row skill-title">
            <div class="language-skill">Java (SpringBoot)</div>
            <div class="skill-level">70%</div>
        </div>

        <div class="skillbar">
            <div class="skillbar-colored upper-intermediate"></div>
        </div>

        <div class="row skill-title">
            <div class="language-skill">DATABASES (MySQL)</div>
            <div class="skill-level">60%</div>
        </div>

        <div class="skillbar">
            <div class="skillbar-colored intermediate"></div>
        </div>

        <div class="row skill-title">
            <div class="language-skill">HTML, CSS</div>
            <div class="skill-level">50%</div>
        </div>

        <div class="skillbar">
            <div class="skillbar-colored beginner"></div>
        </div>

        <div class="row skill-title">
            <div class="language-skill">Javascript</div>
            <div class="skill-level">30%</div>
        </div>

        <div class="row education-work">
            <div class="education-col">

                <div class="row ">
                    <img th:src="@{images/education.png}" class="section-icon" width="50px" height="50px">
                    <h2 class="skills-heading">Education</h2>
                </div>
            </div>

            <div class="work-col">
                <div class="row">
                    <img th:src="@{images/working.png}" class="section-icon" width="50px" height="50px">
                    <h2 class="skills-heading">Work</h2>
                </div>
            </div>
        </div>

        <div class="main-section-row">

            <div class="column">
                <div class="row info-row">
                    <div class="year-range">2017 – present</div>
                    <div class="text-info">
                        <b>Full-time JAVA & HTML/CSS, MySQL programming</b><br>
                        Participating in a software development course from a private organisation Preply.com
                        (Senior Software Developer) & Udemy (multiple courses)
                    </div>
                </div>

                <div class="row info-row">
                    <div class="year-range">2015 – 2016</div>
                    <div class="text-info">
                        <b>Full-time German Course (August- March)</b><br>
                        Accomplished B2 level, Hartnackschule, Berlin, Germany
                    </div>
                </div>

                <div class="row info-row">
                    <div class="year-range">2012 – 2013</div>
                    <div class="text-info">
                        <b>Master of Art (Sustainable Fashion)</b><br>
                        (Focus: Sustainable Marketing & Business Development), Esmod
                        (International university of Art for fashion), Berlin, Germany
                    </div>
                </div>

                <div class="row info-row">
                    <div class="year-range">2010 – 2011</div>
                    <div class="text-info">
                        <b>Master of Art (Fashion Marketing)</b><br>
                        Seoul National University, Seoul, South Korea
                    </div>
                </div>

                <div class="row info-row">
                    <div class="year-range">2003 – 2007</div>
                    <div class="text-info">
                        <b>Bachelor of Art in clothing & textile design</b><br>
                        (Focus: Evaluation of Mythological Motifs in Sassanid Silverware and Metal), University of
                        Science and Culture, Tehran, Iran
                    </div>
                </div>

            </div>

            <div class="column">
                <div class="row info-row">
                    <div class="year-range year-range-work">5/2017 – present</div>
                    <div class="text-info">
                        <b>Software Development</b><br>
                        Developed medical portal to match doctors and patients for suitable treatment (Java, Javascript, HTML/CSS, MySQL)
                        <br><br>
                        Developed cooking guide application in which you can store your own recipes and share them with others(Java, Javascript, HTML/CSS, MySQL)
                    </div>
                </div>

                <div class="row info-row">
                    <div class="year-range year-range-work">10/2015 – 5/2017</div>
                    <div class="text-info">
                        <b>Business development manager</b><br>
                        Tunhub (Online Laboratory), Berlin, Germany
                    </div>
                </div>

                <div class="row info-row">
                    <div class="year-range year-range-work">6/2015</div>
                    <div class="text-info">
                        <b>Volunteer at iBridge Berlin</b><br>
                        Berlin, Germany
                    </div>
                </div>

                <div class="row info-row">
                    <div class="year-range year-range-work">1/2015 – 6/2015</div>
                    <div class="text-info">
                        <b>Intern in international marketing & merchandising</b><br>
                        RE;CODE Up-cycling Apparel and Accessory (KOLON Industry), Seoul, South Korea
                    </div>
                </div>

                <div class="row info-row">
                    <div class="year-range year-range-work">8/2012 – 10/2014</div>
                    <div class="text-info">
                        <b>Senior Creative Textile Designer & Business Consultant</b><br>
                        Ghazal Paazh Tous Crafts Company, Mashad, Iran
                    </div>
                </div>

                <div class="row info-row">
                    <div class="year-range year-range-work">7/2008 – 4/2010</div>
                    <div class="text-info">
                        <b>Junior Interior Designer</b><br>
                        Eshraghi Atelier, Mashad, Iran
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

</div>

</body>
</html>