<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <title>hadieh - shafaee.com</title>
</head>
<body class="projects-body">

<a th:href="@{/}">
    <header class="header-wrap">
        <div class="logo-wrap" id="logo-wrap">
            <!--                <a ><img src="/images/hediLogo-white.png" style="width:100px;"/></a>-->
            <div class="row">
                <div class="letter one">H</div>
                <div class="letter two">E</div>
            </div>
            <div class="row">
                <div class="letter three">D</div>
                <div class="letter four">I</div>
            </div>
        </div>
        <div class="logo-title">HADIEH SHAFAEE</div>
    </header>
</a>

<div class="container container-projects" id="container">

    <div class="resume-wrap">
        <h1 class="contacts-heading"> Find me online </h1>
        <div class="row linkedin-row">
            <img th:src="@{images/linkedin.png}" width="35px">
            <a href="https://www.linkedin.com/in/hedieh-shafaee/" class="linkedin-link" target="_blank">Linkedin.com</a>
        </div>
    </div>

    <div class="skills-wrap">
        <div class="row skills-row">
            <img th:src="@{images/skill.png}" class="section-icon" width="50px" height="50px">
            <h2 class="skills-heading">skills</h2>
        </div>
        <div class="skillbar">
            <div class="skillbar-colored advanced"></div>
        </div>

        <div class="row skill-title">
            <div class="language-skill">Java (SpringBoot)</div>
            <div class="skill-level">70%</div>
        </div>

        <div class="skillbar">
            <div class="skillbar-colored upper-intermediate"></div>
        </div>

        <div class="row skill-title">
            <div class="language-skill">DATABASES (MySQL)</div>
            <div class="skill-level">60%</div>
        </div>

        <div class="skillbar">
            <div class="skillbar-colored intermediate"></div>
        </div>

        <div class="row skill-title">
            <div class="language-skill">HTML, CSS</div>
            <div class="skill-level">50%</div>
        </div>

        <div class="skillbar">
            <div class="skillbar-colored beginner"></div>
        </div>

        <div class="row skill-title">
            <div class="language-skill">Javascript</div>
            <div class="skill-level">30%</div>
        </div>

        <div class="row education-work">
            <div class="education-col">

                <div class="row ">
                    <img th:src="@{images/education.png}" class="section-icon" width="50px" height="50px">
                    <h2 class="skills-heading">Education</h2>
                </div>
            </div>

            <div class="work-col">
                <div class="row">
                    <img th:src="@{images/working.png}" class="section-icon" width="50px" height="50px">
                    <h2 class="skills-heading">Work</h2>
                </div>
            </div>
        </div>

        <div class="main-section-row">
            <div class="column">
                <div class="row ">
                    <div class="year-range">2017 – present:</div>
                    <div class="text-info">
                        Full-time JAVA & HTML/CSS, MySQL programming
                        Participating in a software development course from a private organisation Preply.com
                        (Senior Software Developer) & Udemy (multiple courses)
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="row ">
                    <div class="year-range">2017 – present:</div>
                    <div class="text-info">
                        Full-time JAVA & HTML/CSS, MySQL programming
                        Participating in a software development course from a private organisation Preply.com
                        (Senior Software Developer) & Udemy (multiple courses)
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>

</body>
</html>